.primaryBtn {
  padding: 15px 24px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlineBtn {
  padding: 10px 18px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlineBtn:hover {
  background-color: #f0f0f0;
}

.primaryBtn:hover {
  background-color: #333333;

}