.navigation {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.navigation .logo {
  padding-left: 20px;
}
.navigation ul {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

.navLinks {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px;
  transition: font-size 0.1s ease;
}

.navLinks:hover {
    color: gray;
}
