


.contactForm{
    height: calc(100vh - 72px);
    margin-top: 100px;
    display: flex;
    gap: 40px;
    overflow:hidden;
}

.formControl{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image{
    display: flex;
    justify-content: end;
    height: 615px;
    width: 600px;
    flex: 1;
}
.bottomBtn {
  flex: 0 0 100%;
}
.bottomBtn button {
  width: 100%;
}
.topBtn{    
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

form input{
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
form textarea{
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
}
