@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container {
  width: 1280px;
  height: 72px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
ul {
  list-style: none;
}


.main-section {
  padding-top: 72px;
  height: calc(100vh - 72px);
}